<div id="signup-page" class="flex min-h-full flex-col justify-center py-12 text-sm font-medium sm:px-6 lg:px-8">
  <!-- Authentication error banner -->
  <div
    id="auth-error"
    class="mx-4 rounded-md bg-red-500 sm:mx-auto sm:w-full sm:max-w-md"
    *ngIf="signupError$ | async as signupError"
  >
    <div class="flex items-center justify-between px-4 py-2">
      <p class="truncate font-medium text-white">{{ signupError }}</p>
      <button
        type="button"
        class="-mr-1 flex rounded-md p-2 hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2"
        (click)="closeAuthErrorNotification()"
      >
        <span class="sr-only">Dismiss sign-up error</span>
        <!-- Heroicon name: outline/x -->
        <svg
          class="h-6 w-6 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Create a Business profile</h2>
  </div>

  <div class="mt-8 text-gray-700 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="space-y-6 bg-white px-4 py-8 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" [formGroup]="signupForm" (ngSubmit)="signup()">
        <div>
          <label for="firstname" class="block">First Name* (as in your passport)</label>
          <div class="mt-1">
            <input
              id="firstname"
              formControlName="firstname"
              type="text"
              required
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-orange-500 focus:outline-none focus:ring-orange-500 sm:text-sm"
              [ngClass]="{
                'invalid:border-red-500 invalid:text-red-500 focus:invalid:border-red-500 focus:invalid:ring-red-500':
                  firstnameInvalid
              }"
            />
          </div>
        </div>

        <div>
          <label for="lastname" class="block">Last Name* (as in your passport)</label>
          <div class="mt-1">
            <input
              id="lastname"
              formControlName="lastname"
              type="text"
              required
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-orange-500 focus:outline-none focus:ring-orange-500 sm:text-sm"
              [ngClass]="{
                'invalid:border-red-500 invalid:text-red-500 focus:invalid:border-red-500 focus:invalid:ring-red-500':
                  lastnameInvalid
              }"
            />
          </div>
        </div>

        <div>
          <label for="email" class="block">Email*</label>
          <div class="mt-1">
            <input
              id="email"
              formControlName="email"
              type="email"
              autocomplete="email"
              required
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-orange-500 focus:outline-none focus:ring-orange-500 sm:text-sm"
              [ngClass]="{
                'invalid:border-red-500 invalid:text-red-500 focus:invalid:border-red-500 focus:invalid:ring-red-500':
                  emailInvalid
              }"
            />
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="emailInvalid && signupForm.get('email')?.errors?.['required']"
            >
              Email is required!
            </span>
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="emailInvalid && signupForm.get('email')?.errors?.['email']"
            >
              Must be a valid email address!
            </span>
          </div>
        </div>

        <div>
          <label for="password" class="block">Password*</label>
          <div class="mt-1">
            <input
              id="password"
              formControlName="password"
              type="password"
              required
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-orange-500 focus:outline-none focus:ring-orange-500 sm:text-sm"
              [ngClass]="{
                'invalid:border-red-500 invalid:text-red-500 focus:invalid:border-red-500 focus:invalid:ring-red-500':
                  passwordInvalid
              }"
            />
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="passwordInvalid && signupForm.get('password')?.errors?.['required']"
            >
              Password is required!
            </span>
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="passwordInvalid && signupForm.get('password')?.errors?.['minlength']"
            >
              Password must contain minimum 8 characters!
            </span>
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="passwordInvalid && signupForm.get('password')?.errors?.['containsNumber']"
            >
              Password must contain minimum 1 digit!
            </span>
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="passwordInvalid && signupForm.get('password')?.errors?.['containsLowercase']"
            >
              Password must contain minimum 1 lower-case letter!
            </span>
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="passwordInvalid && signupForm.get('password')?.errors?.['containsUppercase']"
            >
              Password must contain minimum 1 upper-case letter!
            </span>
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="passwordInvalid && signupForm.get('password')?.errors?.['containsSpecialCharacter']"
            >
              Password must contain minimum 1 of the following special characters: @ # $ % ^ & + = !
            </span>
          </div>
        </div>

        <div>
          <label for="confirmpassword" class="block">Confirm Password*</label>
          <div class="mt-1">
            <input
              id="confirmpassword"
              formControlName="confirmpassword"
              type="password"
              required
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-orange-500 focus:outline-none focus:ring-orange-500 sm:text-sm"
              [ngClass]="{
                'invalid:border-red-500 invalid:text-red-500 focus:invalid:border-red-500 focus:invalid:ring-red-500':
                  confirmPasswordInvalid
              }"
            />
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="confirmPasswordInvalid && signupForm.get('confirmpassword')?.errors?.['required']"
            >
              Confirm password!
            </span>
            <span
              class="ml-2 mt-2 block text-red-500"
              *ngIf="confirmPasswordInvalid && signupForm.get('confirmpassword')?.errors?.['passwordMismatch']"
            >
              Passwords do not match!
            </span>
          </div>
        </div>

        <div>
          <button
            type="submit"
            [disabled]="signupForm.invalid"
            class="flex w-full justify-center rounded-md bg-orange-500 px-4 py-2 text-white shadow-sm hover:bg-orange-400 disabled:bg-orange-300"
          >
            Sign up
          </button>
        </div>
      </form>
      <div>
        <p class="text-gray-700">
          Already have an account?
          <a class="font-semibold text-gray-900 hover:font-extrabold hover:text-gray-700" [routerLink]="['/login']"
            >Log in</a
          >
          or
          <button class="font-semibold text-gray-900 hover:font-extrabold hover:text-gray-700" (click)="cancel()">
            Cancel sign up
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
