<header
  class="m-3 flex grow p-3"
  *ngIf="showNavbar$ | async"
  [ngClass]="{ 'justify-between lg:w-64 lg:flex-col': uid$ | async }"
>
  <div
    id="business-buttons"
    class="flex items-center gap-3"
    *ngIf="uid$ | async"
    [ngClass]="{ 'flex-col': uid$ | async }"
  >
    <a
      [routerLink]="['/companies']"
      class="cursor-pointer rounded-md bg-orange-500 px-3 pb-2 pt-1 font-semibold text-white hover:bg-orange-400"
      >companies</a
    >
  </div>

  <div id="auth-buttons" class="flex items-center gap-3" [ngClass]="{ 'flex-col': uid$ | async }">
    <a
      *ngIf="showLogin$ | async"
      [routerLink]="['/login']"
      class="cursor-pointer rounded-md bg-orange-500 px-3 pb-2 pt-1 font-semibold text-white hover:bg-orange-400"
      >log in</a
    >
    <a
      *ngIf="showSignup$ | async"
      [routerLink]="['/signup']"
      class="cursor-pointer rounded-md bg-orange-500 px-3 pb-2 pt-1 font-semibold text-white hover:bg-orange-400"
      >sign up</a
    >
    <button
      *ngIf="uid$ | async"
      (click)="logout()"
      class="cursor-pointer rounded-md bg-orange-500 px-3 pb-2 pt-1 font-semibold text-white hover:bg-orange-400"
    >
      log out
    </button>
  </div>
</header>
