<div id="companies-page" class="mx-auto max-w-5xl">
  <!-- add company button -->
  <div class="flex flex-col items-center gap-3 sm:mx-auto sm:w-full sm:max-w-md" *ngIf="addCompany$ | async">
    <h2 class="mt-6 text-center text-2xl font-semibold text-gray-900">No company added at the moment</h2>
    <button
      class="text-1xl rounded-md bg-orange-500 px-4 py-2 font-semibold text-white shadow-sm hover:bg-orange-400"
      (click)="openAddCompanyForm()"
    >
      Add Company
    </button>
  </div>

  <!-- company form -->
  <form
    id="add-company-form"
    [formGroup]="addCompanyForm"
    (ngSubmit)="addCompany()"
    class="mx-auto"
    *ngIf="(addCompany$ | async) === false"
  >
    <h2 class="text-2xl font-semibold text-gray-900">Add a new Company</h2>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Country</h3>
        <p class="text-gray-500">Where your company is registered and where OnTime operates</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <select
          [ngClass]="
            invalidControl('country')
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          formControlName="country"
          id="country"
        >
          <option *ngFor="let country of countries" [ngValue]="country">{{ country }}</option>
        </select>
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('country', 'required')">
          Country is required!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Company Legal Name</h3>
        <p class="text-gray-500">As stated in trade register</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('legalName')
              ? 'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 text-gray-900 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="legal-name"
          formControlName="legalName"
          type="text"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('legalName', 'required')">
          Legal Name is required!
        </span>
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('legalName', 'alreadyExists')">
          Legal Name is already registered in the system!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Business ID</h3>
        <p class="text-gray-500">As stated in trade register</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('businessId')
              ? 'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 text-gray-900 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="business-id"
          formControlName="businessId"
          type="text"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('businessId', 'required')">
          Business ID is required!
        </span>
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('businessId', 'alreadyExists')">
          Business ID is already registered in the system!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Street Address</h3>
        <p class="text-gray-500">As stated in trade register</p>
      </div>
      <div
        id="add-company-street-address"
        formGroupName="address"
        class="grid grid-cols-2 gap-6 sm:col-span-3 lg:col-span-1"
      >
        <div class="relative col-span-2">
          <label
            for="street-name"
            class="absolute -top-3 left-2 inline-block bg-white px-1 font-medium"
            [ngClass]="invalidControl('address.street') ? 'text-red-500' : 'text-gray-900'"
            >Street and house number</label
          >
          <input
            [ngClass]="
              invalidControl('address.street')
                ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
            "
            class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
            id="street-name"
            formControlName="street"
            type="text"
          />
          <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('address.street', 'required')">
            Street and house number are required!
          </span>
        </div>

        <div class="relative">
          <label
            for="city"
            class="absolute -top-3 left-2 inline-block bg-white px-1 font-medium"
            [ngClass]="invalidControl('address.city') ? 'text-red-500' : 'text-gray-900'"
            >City</label
          >
          <input
            [ngClass]="
              invalidControl('address.city')
                ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
            "
            class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
            id="city"
            formControlName="city"
          />
          <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('address.city', 'required')">
            City is required!
          </span>
        </div>

        <div class="relative">
          <label
            for="postal-number"
            class="absolute -top-3 left-2 inline-block bg-white px-1 font-medium"
            [ngClass]="invalidControl('address.postalNumber') ? 'text-red-500' : 'text-gray-900'"
            >Postal number</label
          >
          <input
            [ngClass]="
              invalidControl('address.postalNumber')
                ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
            "
            class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
            id="postal-number"
            formControlName="postalNumber"
          />
          <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('address.postalNumber', 'required')">
            Postal number is required!
          </span>
        </div>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Company Name</h3>
        <p class="text-gray-500">As used in marketing materials</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('name')
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="name"
          formControlName="name"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('name', 'required')">
          Company Name is required!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Email</h3>
        <p class="text-gray-500">For customer service</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('email')
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="email"
          formControlName="email"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('email', 'required')">
          Email is required!
        </span>
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('email', 'email')">
          Must be a valid email address!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Phone number</h3>
        <p class="text-gray-500">For customer service</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('phone')
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="phone"
          formControlName="phone"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('phone', 'required')">
          Phone number is required!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-2">
      <button
        [disabled]="addCompanyForm.invalid"
        type="submit"
        class="flex w-full justify-center rounded-md bg-orange-500 px-4 py-2 text-white shadow-sm hover:bg-orange-400 disabled:bg-orange-300"
      >
        Add company
      </button>
      <button
        type="button"
        (click)="cancel()"
        class="flex w-full justify-center rounded-md bg-orange-500 px-4 py-2 text-white shadow-sm hover:bg-orange-400 disabled:bg-orange-300"
      >
        Cancel
      </button>
    </div>
  </form>

  <app-notification-modal></app-notification-modal>
</div>
