<div id="companies-page" class="mx-auto max-w-5xl">
  <!-- companies list section -->
  <div *ngFor="let c of companies$ | async">
    <p>Company name {{ c.name }}</p>
  </div>

  <!-- add company section -->
  <div id="add-company-section" class="flex justify-center" *ngIf="!showAddCompanyForm()">
    <div
      id="add-company-section-border"
      class="flex max-w-max flex-col items-center rounded-lg border-2 border-dashed border-gray-300 px-10 py-6 text-center sm:flex-row sm:gap-6"
    >
      <div id="add-company-icon">
        <svg
          class="mx-auto h-12 w-12 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            vector-effect="non-scaling-stroke"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
          />
        </svg>
      </div>
      <div id="add-company-text" *ngIf="noCompanies">
        <h3 class="mt-2 text-sm font-semibold text-gray-900 sm:mt-1 sm:text-left">No company added at the moment</h3>
        <p class="mt-1 text-sm text-gray-500">Register a company using this button</p>
      </div>
      <div id="add-company-button" class="mt-6 sm:mt-0">
        <button
          type="button"
          (click)="startAddCompany()"
          class="inline-flex items-center rounded-md bg-orange-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500"
        >
          <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path
              d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
            />
          </svg>
          Add Company
        </button>
      </div>
    </div>
  </div>

  <!-- company form -->
  <form
    id="add-company-form"
    [formGroup]="addCompanyForm"
    (ngSubmit)="addCompany()"
    class="mx-auto"
    *ngIf="showAddCompanyForm()"
  >
    <h2 class="text-2xl font-semibold text-gray-900">Add a new Company</h2>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Country</h3>
        <p class="text-gray-500">Where your company is registered and where OnTime operates</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <select
          [ngClass]="
            invalidControl('country')
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          formControlName="country"
          id="country"
        >
          <option *ngFor="let country of countries" [ngValue]="country">{{ country }}</option>
        </select>
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('country', 'required')">
          Country is required!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Company Legal Name</h3>
        <p class="text-gray-500">As stated in trade register</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('legalName')
              ? 'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 text-gray-900 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="legal-name"
          formControlName="legalName"
          type="text"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('legalName', 'required')">
          Legal Name is required!
        </span>
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('legalName', 'alreadyExists')">
          Legal Name is already registered in the system!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Business ID</h3>
        <p class="text-gray-500">As stated in trade register</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('businessId')
              ? 'border-red-500 text-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 text-gray-900 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="business-id"
          formControlName="businessId"
          type="text"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('businessId', 'required')">
          Business ID is required!
        </span>
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('businessId', 'alreadyExists')">
          Business ID is already registered in the system!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Street Address</h3>
        <p class="text-gray-500">As stated in trade register</p>
      </div>
      <div
        id="add-company-street-address"
        formGroupName="address"
        class="grid grid-cols-2 gap-6 sm:col-span-3 lg:col-span-1"
      >
        <div class="relative col-span-2">
          <label
            for="street-name"
            class="absolute -top-3 left-2 inline-block bg-white px-1 font-medium"
            [ngClass]="invalidControl('address.street') ? 'text-red-500' : 'text-gray-900'"
            >Street and house number</label
          >
          <input
            [ngClass]="
              invalidControl('address.street')
                ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
            "
            class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
            id="street-name"
            formControlName="street"
            type="text"
          />
          <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('address.street', 'required')">
            Street and house number are required!
          </span>
        </div>

        <div class="relative">
          <label
            for="city"
            class="absolute -top-3 left-2 inline-block bg-white px-1 font-medium"
            [ngClass]="invalidControl('address.city') ? 'text-red-500' : 'text-gray-900'"
            >City</label
          >
          <input
            [ngClass]="
              invalidControl('address.city')
                ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
            "
            class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
            id="city"
            formControlName="city"
          />
          <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('address.city', 'required')">
            City is required!
          </span>
        </div>

        <div class="relative">
          <label
            for="postal-number"
            class="absolute -top-3 left-2 inline-block bg-white px-1 font-medium"
            [ngClass]="invalidControl('address.postalNumber') ? 'text-red-500' : 'text-gray-900'"
            >Postal number</label
          >
          <input
            [ngClass]="
              invalidControl('address.postalNumber')
                ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
            "
            class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
            id="postal-number"
            formControlName="postalNumber"
          />
          <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('address.postalNumber', 'required')">
            Postal number is required!
          </span>
        </div>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Company Name</h3>
        <p class="text-gray-500">As used in marketing materials</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('name')
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="name"
          formControlName="name"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('name', 'required')">
          Company Name is required!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Email</h3>
        <p class="text-gray-500">For customer service</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('email')
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="email"
          formControlName="email"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('email', 'required')">
          Email is required!
        </span>
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('email', 'email')">
          Must be a valid email address!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-5 lg:grid-cols-2">
      <div class="space-y-1 sm:col-span-2 lg:col-span-1">
        <h3 class="font-semibold text-gray-900">Phone number</h3>
        <p class="text-gray-500">For customer service</p>
      </div>
      <div class="sm:col-span-3 lg:col-span-1">
        <input
          [ngClass]="
            invalidControl('phone')
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'border-gray-300 focus:border-orange-500 focus:ring-orange-500'
          "
          class="block w-full appearance-none rounded-md border px-3 py-2 text-gray-900 placeholder-gray-400 shadow-sm focus:outline-none sm:text-sm"
          id="phone"
          formControlName="phone"
        />
        <span class="ml-2 mt-2 block text-red-500" *ngIf="invalidControl('phone', 'required')">
          Phone number is required!
        </span>
      </div>
    </div>
    <hr role="presentation" class="my-10 mt-6 w-full border-t border-gray-300" />

    <div class="grid items-end gap-x-8 gap-y-2 sm:grid-cols-2">
      <button
        [disabled]="addCompanyForm.invalid"
        type="submit"
        class="flex w-full justify-center rounded-md bg-orange-500 px-4 py-2 text-white shadow-sm hover:bg-orange-400 disabled:bg-orange-300"
      >
        Add company
      </button>
      <button
        type="button"
        (click)="cancelAddCompany()"
        class="flex w-full justify-center rounded-md bg-orange-500 px-4 py-2 text-white shadow-sm hover:bg-orange-400 disabled:bg-orange-300"
      >
        Cancel
      </button>
    </div>
  </form>

  <app-notification-modal></app-notification-modal>
</div>
